Repository hashicorp/vault-secrets-operator, pull requests merged in 2023-12, with the labels that each got.

#488 VDS: fix compute static-creds rotation horizon
  controllers/common.go
  controllers/suite_test.go
  controllers/vaultdynamicsecret_controller.go
  controllers/vaultdynamicsecret_controller_test.go
  test/integration/hcpvaultsecretsapp/terraform/main.tf
  test/integration/modules/vso-helm/variables.tf
  test/integration/vaultdynamicsecret_integration_test.go
Labels: dynamic

#501 Include viewer and editor RBAC roles in the chart
  Makefile
  chart/templates/hcpauth_editor_role.yaml
  chart/templates/hcpauth_viewer_role.yaml
  chart/templates/hcpvaultsecretsapp_editor_role.yaml
  chart/templates/hcpvaultsecretsapp_viewer_role.yaml
  chart/templates/vaultauth_editor_role.yaml
  chart/templates/vaultauth_viewer_role.yaml
  chart/templates/vaultconnection_editor_role.yaml
  chart/templates/vaultconnection_viewer_role.yaml
  chart/templates/vaultdynamicsecret_editor_role.yaml
  chart/templates/vaultdynamicsecret_viewer_role.yaml
  chart/templates/vaultpkisecret_editor_role.yaml
  chart/templates/vaultpkisecret_viewer_role.yaml
  chart/templates/vaultstaticsecret_editor_role.yaml
  chart/templates/vaultstaticsecret_viewer_role.yaml
  scripts/sync-rbac.sh
  test/unit/helpers.bats
Labels: bug, helm

#479 VPS: Sync on any update
  api/v1beta1/vaultpkisecret_types.go
  chart/crds/secrets.hashicorp.com_vaultpkisecrets.yaml
  config/crd/bases/secrets.hashicorp.com_vaultpkisecrets.yaml
  controllers/common.go
  controllers/common_test.go
  controllers/vaultpkisecret_controller.go
  controllers/vaultpkisecret_controller_test.go
  docs/api/api-reference.md
  go.mod
  go.sum
  internal/consts/log_levels.go
  internal/consts/reasons.go
  internal/helpers/hmac.go
  internal/helpers/hmac_test.go
  internal/helpers/testutils_test.go
  main.go
  test/integration/vaultpkisecret_integration_test.go
Labels: PKI

#506 Truncate pre-delete-controller Job name to 63 characters
  CHANGELOG.md
  chart/templates/deployment.yaml
  test/unit/deployment.bats
Labels: bug
