Repository hashicorp/vault-secrets-operator, pull requests merged in 2024-02, with the labels that each got.

#437 Add support for secret data transformation
  PROJECT
  api/v1beta1/common.go
  api/v1beta1/secrettransformation_types.go
  api/v1beta1/zz_generated.deepcopy.go
  chart/crds/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  chart/crds/secrets.hashicorp.com_secrettransformations.yaml
  chart/crds/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  chart/crds/secrets.hashicorp.com_vaultpkisecrets.yaml
  chart/crds/secrets.hashicorp.com_vaultstaticsecrets.yaml
  chart/templates/manager-rbac.yaml
  chart/templates/secrettransformation_editor_role.yaml
  chart/templates/secrettransformation_viewer_role.yaml
  config/crd/bases/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  config/crd/bases/secrets.hashicorp.com_secrettransformations.yaml
  config/crd/bases/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  config/crd/bases/secrets.hashicorp.com_vaultpkisecrets.yaml
  config/crd/bases/secrets.hashicorp.com_vaultstaticsecrets.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_secrettransformations.yaml
  config/crd/patches/webhook_in_secrettransformations.yaml
  config/rbac/role.yaml
  config/rbac/secrettransformation_editor_role.yaml
  config/rbac/secrettransformation_viewer_role.yaml
  config/samples/kustomization.yaml
  config/samples/secrets_v1beta1_secrettransformation.yaml
  controllers/common.go
  controllers/hcpvaultsecretsapp_controller.go
  controllers/secrettransformation_controller.go
  controllers/vaultdynamicsecret_controller.go
  controllers/vaultdynamicsecret_controller_test.go
  controllers/vaultpkisecret_controller.go
  controllers/vaultstaticsecret_controller.go
  demo/infra/app/app.tf
  demo/infra/app/postgres.tf
  docs/api/api-reference.md
  go.mod
  go.sum
  internal/common/common.go
  internal/common/common_test.go
  internal/consts/reasons.go
  internal/helpers/secrets.go
  internal/helpers/secrets_test.go
  internal/helpers/template.go
  internal/helpers/template_test.go
  internal/template/funcs.go
  internal/template/funcs_test.go
  internal/template/template.go
  internal/template/template_test.go
  internal/vault/responses.go
  internal/vault/responses_test.go
  main.go
Labels: secret-transformation

#546 Support excluding _raw from the destination
  api/v1beta1/common.go
  chart/crds/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  chart/crds/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  chart/crds/secrets.hashicorp.com_vaultpkisecrets.yaml
  chart/crds/secrets.hashicorp.com_vaultstaticsecrets.yaml
  chart/templates/_helpers.tpl
  chart/templates/deployment.yaml
  chart/values.yaml
  config/crd/bases/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  config/crd/bases/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  config/crd/bases/secrets.hashicorp.com_vaultpkisecrets.yaml
  config/crd/bases/secrets.hashicorp.com_vaultstaticsecrets.yaml
  controllers/hcpvaultsecretsapp_controller.go
  controllers/vaultdynamicsecret_controller.go
  controllers/vaultpkisecret_controller.go
  controllers/vaultstaticsecret_controller.go
  docs/api/api-reference.md
  internal/helpers/secrets.go
  internal/helpers/secrets_test.go
  internal/helpers/template.go
  internal/helpers/template_test.go
  internal/options/env.go
  main.go
  test/unit/deployment.bats
Labels: secret-transformation

#586 HCPVSA: get trans-options before fetching from HVS
  controllers/hcpvaultsecretsapp_controller.go
Labels: secret-transformation

#562 Reconcile on SecretTransformation updates.
  api/v1beta1/common.go
  chart/crds/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  chart/crds/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  chart/crds/secrets.hashicorp.com_vaultpkisecrets.yaml
  chart/crds/secrets.hashicorp.com_vaultstaticsecrets.yaml
  config/crd/bases/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  config/crd/bases/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  config/crd/bases/secrets.hashicorp.com_vaultpkisecrets.yaml
  config/crd/bases/secrets.hashicorp.com_vaultstaticsecrets.yaml
  controllers/cache.go
  controllers/common.go
  controllers/eventhandlers.go
  controllers/eventhandlers_test.go
  controllers/hcpvaultsecretsapp_controller.go
  controllers/predicates.go
  controllers/registry.go
  controllers/registry_test.go
  controllers/secrettransformation_controller.go
  controllers/validators.go
  controllers/vaultdynamicsecret_controller.go
  controllers/vaultpkisecret_controller.go
  controllers/vaultstaticsecret_controller.go
  docs/api/api-reference.md
  internal/consts/consts.go
  internal/consts/reasons.go
  internal/helpers/template.go
  main.go
Labels: secret-transformation

#585 OLM: add SecretTransformation to ClusterServiceVersion
  Makefile
  config/manifests/bases/vault-secrets-operator.clusterserviceversion.yaml
Labels: secret-transformation

#576 Force sync on label/annotation updates
  api/v1beta1/common.go
  chart/crds/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  chart/crds/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  chart/crds/secrets.hashicorp.com_vaultpkisecrets.yaml
  chart/crds/secrets.hashicorp.com_vaultstaticsecrets.yaml
  config/crd/bases/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  config/crd/bases/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  config/crd/bases/secrets.hashicorp.com_vaultpkisecrets.yaml
  config/crd/bases/secrets.hashicorp.com_vaultstaticsecrets.yaml
  controllers/hcpvaultsecretsapp_controller.go
  controllers/predicates.go
  controllers/predicates_test.go
  controllers/registry.go
  controllers/vaultdynamicsecret_controller.go
  controllers/vaultpkisecret_controller.go
  controllers/vaultstaticsecret_controller.go
  docs/api/api-reference.md
Labels: secret-transformation

#588 API: resync is no longer needed.
  api/v1beta1/common.go
  chart/crds/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  chart/crds/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  chart/crds/secrets.hashicorp.com_vaultpkisecrets.yaml
  chart/crds/secrets.hashicorp.com_vaultstaticsecrets.yaml
  config/crd/bases/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  config/crd/bases/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  config/crd/bases/secrets.hashicorp.com_vaultpkisecrets.yaml
  config/crd/bases/secrets.hashicorp.com_vaultstaticsecrets.yaml
  docs/api/api-reference.md
Labels: secret-transformation

#592 Make excludeRaw optional
  api/v1beta1/common.go
  chart/crds/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  chart/crds/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  chart/crds/secrets.hashicorp.com_vaultpkisecrets.yaml
  chart/crds/secrets.hashicorp.com_vaultstaticsecrets.yaml
  config/crd/bases/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  config/crd/bases/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  config/crd/bases/secrets.hashicorp.com_vaultpkisecrets.yaml
  config/crd/bases/secrets.hashicorp.com_vaultstaticsecrets.yaml
Labels: secret-transformation

#598 Fix: prune referrers
  controllers/vaultdynamicsecret_controller.go
  controllers/vaultpkisecret_controller.go
Labels: bug

#593 VPS: add missing ST watch
  controllers/vaultpkisecret_controller.go
Labels: bug

#591 HCPVSA: sync on lastGeneration change
  api/v1beta1/hcpvaultsecretsapp_types.go
  chart/crds/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  config/crd/bases/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  controllers/hcpvaultsecretsapp_controller.go
  internal/helpers/secrets.go
Labels: bug, hcpvs

#587 Reconcile on secret deletion
  controllers/eventhandlers.go
  controllers/eventhandlers_test.go
  controllers/hcpvaultsecretsapp_controller.go
  controllers/predicates.go
  controllers/predicates_test.go
  controllers/registry.go
  controllers/vaultdynamicsecret_controller.go
  controllers/vaultpkisecret_controller.go
  controllers/vaultstaticsecret_controller.go
  internal/helpers/secrets.go
  internal/helpers/secrets_test.go
Labels: enhancement

#601 Chart: support setting imagePullPolicy
  chart/templates/deployment.yaml
  chart/values.yaml
  test/unit/deployment.bats
Labels: enhancement

#552 Add support for userIDs in VaultPKISecret
  api/v1beta1/vaultpkisecret_types.go
  api/v1beta1/vaultpkisecret_types_test.go
  api/v1beta1/zz_generated.deepcopy.go
  chart/crds/secrets.hashicorp.com_vaultpkisecrets.yaml
  config/crd/bases/secrets.hashicorp.com_vaultpkisecrets.yaml
  docs/api/api-reference.md
  test/integration/vaultpkisecret/terraform/main.tf
  test/integration/vaultpkisecret_integration_test.go
Labels: enhancement

#599 Rework the reference cache
  controllers/eventhandlers.go
  controllers/eventhandlers_test.go
  controllers/hcpvaultsecretsapp_controller.go
  controllers/registry.go
  controllers/registry_test.go
  controllers/vaultdynamicsecret_controller.go
  controllers/vaultpkisecret_controller.go
  controllers/vaultstaticsecret_controller.go
  main.go
Labels: bug
